.messages {
	display: flex;
	flex-direction: column;
}

.in,
.out {
	max-width: 80%;
	width: fit-content;
}

.out span {
	font-size: 12px;
	color: #fff;
	line-height: 1.9em;
}

.in span {
	font-size: 12px;
	color: gray;
	line-height: 1.9em;
}

.messages .in:not(:first-child),
.messages .out:not(:first-child) {
	margin-top: 15px;
}

.in {
	background: #d9d9d9;
	padding: 12px 16px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 500;
	align-self: flex-start;
}

.out {
	background: #0066cc;
	padding: 12px 16px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 500;
	align-self: flex-end;
	color: #fff;
}

.divider {
	display: block;
	padding-bottom: 6px;
}

.msg-btn {
	border-radius: 50px;
	padding: 5px 15px;
	outline: none;
	border: none;
	font-weight: 500;
	color: #fff;
	margin-top: 10px;
}

.msg-btn.copy {
	background-color: #0066cc;
	margin-right: 5px;
}

.msg-btn.edit {
	background-color: #7ac74f;
}

.msg-btn.copy:hover {
	background-color: hsl(210, 100%, 20%);
}

.msg-btn.edit:hover {
	background-color: hsl(99, 52%, 35%);
}
